.app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

app-system-card {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
}

.system-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: flex-start;
  max-width: 80vw;
}

.example-sidenav-container {
  width: 100vw;
  height: 80vh;
}

mat-sidenav-content {
  background-color: #ffe3df;
}
