.mat-card {
  width: 20vw;
}

.card-alive {
  border: 5px dashed aquamarine;
}

.card-dead {
  border: 5px dashed crimson;
}

.icon {
  font-size: 2.5em;
}

.down {
  color: red;
  font-size: 1.2em;
}
