<mat-card class="mat-card col"
          [ngClass]="{'card-alive':system.isAlive, 'card-dead':!system.isAlive}">
  <mat-card-header class="mat-card-header">
    <span mat-card-avatar class="mat-icon {{system.icon}} icon"></span>
    <mat-card-title class="mat-card-title" (click)="click()">{{system.name}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{system.team}}</mat-card-subtitle>
  </mat-card-header>
  <div *ngIf="system.isGraphOpen">
    <app-my-line-chart [data]="data" [labels]="labels" [labelGraph]="'duration in ms'"></app-my-line-chart>
  </div>
  <mat-card-content class=" mat-card-content ">
    <span>{{system.details}}</span>
    <ng-container *ngIf="!system.isAlive">
      <div>Been down since {{system.lastAlive}}</div>
      <span> Meaning been down since
          <span class="down"> {{system.lastAlive | dateToPretty}}</span>
        </span>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button class="mat-button" mat-button>LIKE</button>
    <button class="mat-button" mat-button (click)="handleToggleGraph()">GRAPH</button>
  </mat-card-actions>
</mat-card>
