/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1vmin;
  color: #333;
  background-color: #ffe3df;
}

mat-sidenav-content {
  background-color: #ffe3df;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.row.ctr, .col.ctr {
  justify-content: center;
  align-items: center;
}

.mat-badge-content {
  pointer-events: all;
}
